* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#greeting {
    font-family: "Arial Black", Gadget, sans-serif;
}
#textmain {
    display: none;
}
#btnmain button{
    background-color: #c9302c;
    border-color: #c9302c;
    border-radius: 5px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#btnmain button:hover {
    background-color: #881e1c;
    border-color: #881e1c;
    box-shadow: 2px 2px 1px #333333;
}
#skills{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: none;
}
#textskill {
    display: none;
}
#btnskill button{
    color: rgb(255, 255, 255);
    background-color: #df2f2d;
    border-color: #df2f2d;
    border-radius: 5px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#btnskill button:hover {
    background-color: #bd2a27;
    border-color: #bd2a27;
    box-shadow: 2px 2px 1px #333333;
}
#hobbies{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: none;
}
#texthobbies {
    display: none;
}
#btnhobbies button{
    color: rgb(255, 255, 255);
    background-color: #df2f2d;
    border-color: #df2f2d;
    border-radius: 5px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#btnhobbies button:hover {
    background-color: #bd2a27;
    border-color: #bd2a27;
    box-shadow: 2px 2px 1px #333333;
}
#contact{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: none;
}
#textcontact {
    display: none;
}
#btncontact button{
    color: rgb(255, 255, 255);
    background-color: #df2f2d;
    border-color: #df2f2d;    
    border-radius: 5px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#btncontact button:hover {
    background-color: #bd2a27;
    border-color: #bd2a27;
    box-shadow: 2px 2px 1px #333333;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}