* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(160, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
}
.navlink {
    border-right: 2px solid rgb(0, 0, 0);
    float: left;
}
.navlink a {
    display: block;
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 14px 16px;
}
.navlink a:hover:not(.active) {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.active {
    background: rgb(187, 0, 0);
    color: rgb(0, 0, 0);
}
