* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: lightgrey;
}
.navbar {
    list-style-type: none;
    margin-top: -250px;
    padding: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
}
.navlink {
    background: rgb(0, 0, 0);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    float: left;
    margin-right: 5px;
}
.navlink a {
    display: block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 14px 16px;
    font-family:"Arial Black", Gadget, sans-serif;
}
.navlink a:hover {
    background: rgb(175, 175, 175);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 1px #333333;
}
.active {
    background: rgb(63, 63, 63);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    float: left;
    margin-right: 5px;
}
.active a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    font-family: "Arial Black", Gadget, sans-serif;
}
.hobbies {
    margin-top: 250px;
    margin-left: 75px;
    width: 500px;
    height: 150px;
}
#hobbytitle {
    background: lightgray;
    border: 10px solid transparent;
    border-image: url(https://openclipart.org/download/81967/Old-style-border.svg) 30 round;
}
#hobbiesp {
    display: none;
    border: 10px solid transparent;
    border-image: url(https://openclipart.org/download/81967/Old-style-border.svg) 30 round;
    width: 300px;
}
.skills {
    margin-top: 30px;
    margin-left: 250px;

}
#skillstitle {
    background: lightgray;
    border: 10px solid transparent;
    border-image: url(https://openclipart.org/download/81967/Old-style-border.svg) 30 round;    
}
#skillsp {
    display: none;
    border: 10px solid transparent;
    border-image: url(https://openclipart.org/download/81967/Old-style-border.svg) 30 round;
    width: 300px;
}